:root {
  --main-text-size: 18px;
  --main-font-family: "IBM Plex mono", monospace;
  --accent-color: #ff0070;
  --main-title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --main-gap: 10px;
  --main-line-height: 1.3;
  --page-bg: url("../images/cover-image-dark.png");
  --h3-subtitle-color: #000028;
}
